.react-autosuggest__container {
  position: relative;
  flex-grow: 1;
  display: inline;
}

.react-autosuggest__input {
  padding: 15px;
  display: block;
  border: solid 1px #d3d4d5;
  border-radius: 4px 0 0 4px;
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  ::placeholder {
    color: #8a8a8a;
    opacity: 1;
  }
}

.react-autosuggest__input--focused {
  outline: none;
  border: 1px solid #009fd9;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 49px;
  width: 100%;
  border: solid 1px #d3d4d5;
  border-top: 1px solid #009fd9;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  max-height: 250px;
  overflow-y: auto;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #fafafa;
}